{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
         Welcome to my blog! I'm Vishwas, a Computer Science and Engineering student with a passion for coding,
          web development, and all things tech.
          This blog serves as a platform where I share my journey, knowledge, and
          insights on various projects and topics related to programming, automation, and technology.
        </p>
        <p>
          <b>Built with Python and Flask</b> <br/><br/>
          This blog itself is a result of my passion for web development. I built it using Python and Flask, two powerful tools
          that enable developers to create dynamic and interactive websites. Flask, being a lightweight web framework,
          allowed me to build this blog from scratch, giving me full control over the design, functionality, and content.
        </p>

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
